.button{
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 6px 12px;
    display: flex;
    align-items: center;
}

.button:hover{
    cursor: pointer;
    background-color: #4e9c4e;
}