.widget {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border: 1px solid #5cb85c;
    border-radius: 20px;
    padding: 20px;
}

.form-group{
    display: flex;
    gap: 10px;
}
